# application.yml
--- 
spring: 
  application: 
    name: test

server: 
  port: ${PORT:${SERVER_PORT:0}}
#  port: 8080

words: to,pass,the,test

--- 
spring: 
  profiles: subject
  application: 
    name: subject

server: 
  port: 8081

words: He,She,Ann,Mary,John,Paul,My dog,My cat
  
--- 
spring: 
  profiles: verb
  application: 
    name: verb

server: 
  port: 8082

words: likes,loves,hates,dreams,does not like,does not love
  
--- 
spring: 
  profiles: object
  application: 
    name: object

server: 
  port: 8083

words: beans,cats,dogs,pasta,pizza,pizza margherita,spring,my dog,my cat
